.error {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 16px 0 12px;
    text-align: center;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-bottom: 16px;
  }

  .wrapper {
    position: relative;
    flex: 1;

    img {
      object-fit: contain;
    }
  }
}
