@use "../../styles/mixins";
@use "../../styles/tokens";

.error {
  display: flex;
  flex-direction: column;
  width: calc(100% - #{2 * tokens.$space-3});
  max-width: 720px;
  height: calc(100% - #{2 * tokens.$space-3});
  margin: tokens.$space-3 auto;
  overflow: hidden;
  @include mixins.card;

  h2 {
    padding: tokens.$space-5 tokens.$space-4 tokens.$space-3;
    text-align: center;
    @include mixins.title;
  }

  .actions {
    display: flex;
    justify-content: center;
    gap: tokens.$space-2;
    padding-bottom: tokens.$space-4;
  }

  .wrapper {
    position: relative;
    flex: 1;

    img {
      object-fit: contain;
    }
  }
}
