@use "../../../styles/tokens";

.calculator {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  gap: tokens.$space-3;
  margin: 0 auto;
  padding: tokens.$space-4 tokens.$space-4 tokens.$space-6;
}
