@import "@/constants";

.loader {
  margin: -3px;
  aspect-ratio: 1;
  display: grid;
  border: 3px solid #0000;
  border-radius: 50%;
  border-right-color: $gk-orange;
  animation: l15 1s infinite linear;

  &::before,
  &::after {
    content: "";
    grid-area: 1/1;
    margin: 4px;
    border: inherit;
    border-radius: 50%;
    animation: l15 1.5s infinite;
  }

  &::after {
    margin: 10px;
    padding: 6px;
    animation-duration: 2s;
  }
}

@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
