@import "@/constants";

.loader {
  width: calc(1em + 8px);
  height: calc(1em + 8px);
  border: 2px solid $blue;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
