@import "@/constants";

.trash {
  max-width: 390px;
  border: 4px dashed $red-light;
  border-radius: 8px;
  padding: 8px;
  color: $red-light;
  font-size: 24px;
  transition: 0.2s all;

  &:hover,
  &.hover {
    border-color: $red;
    background-color: $red-extra-light;
    color: $red;
  }

  &.small {
    padding: 4px;
    font-size: 16px;
  }
}
