.DS_Store

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
!.yarn/cache
#.pnp.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# Custom
.env
.env.local
.env*.local
screenshots/

# Google API / GDrive Credentials
credentials.json
client_secret*.json
gakumas-tools-*.json
tokens.json
*.apps.googleusercontent.com.json

# Other Local Secret/Data Files
appliance_id.json
