$gk-orange: #f39800;
$gk-orange-light: lighten($gk-orange, 15%);
$gk-orange-extra-light: lighten($gk-orange, 40%);
$gk-red-orange: #ff7600;

$vocal: #f23584;
$dance: #1c85ed;
$visual: #f7b12e;
$stamina: #00d35b;

$vocal-light: scale-color($vocal, $lightness: 15%);
$dance-light: scale-color($dance, $lightness: 15%);
$visual-light: scale-color($visual, $lightness: 15%);

$parameters: (
  1: $vocal,
  2: $dance,
  3: $visual,
  4: $stamina,
);

$white: #fefefe;
$white-dark: #fcfcfc;

$gray-extra-light: #eee;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #666;

$black-light: #667;
$black: #556;
$black-dark: #111;

$red: #f67;
$red-extra-light: lighten($red, 20%);
$red-light: lighten($red, 10%);
$red-dark: darken($red, 10%);

$blue: #4bf;
$blue-extra-light: lighten($blue, 25%);
$blue-dark: darken($blue, 15%);

$green: #4c4;

@mixin param-colors {
  @each $i, $param-color in $parameters {
    &:nth-child(#{$i}) {
      @content ($param-color);
    }
  }
}
