$gk-orange: #f39800;
$gk-red-orange: #ff7600;

$vocal: #f23584;
$dance: #1c85ed;
$visual: #f7b12e;
$stamina: #00d35b;

$white: #fefefe;
$white-dark: #fcfcfc;

$gray-extra-light: #eee;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #666;

$black: #111;

$red: #f67;
$red-extra-light: lighten($red, 20%);
$red-light: lighten($red, 10%);
$red-dark: darken($red, 10%);

$blue: #4bf;
$blue-extra-light: lighten($blue, 25%);
$blue-dark: darken($blue, 15%);

$green: #4c4;
