@import "@/constants";

.input {
  min-width: 0;
  outline: none;
  border: none;
  border-bottom: 2px solid $gk-orange;
  padding: 8px;
  background-color: transparent;
  color: $black;
  font-weight: 600;
  text-align: center;

  &::placeholder {
    color: lighten($gk-orange, 15%);
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
