@import "@/constants";

.iconSelect {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  border: 2px solid $gray-light;
  border-radius: 22px;
  padding: 4px;
}

.option {
  border-radius: 16px;
  padding: 4px;
  transition: all 0.2s;
}

.selected {
  box-shadow: 0 0 4px $gray-dark;
}
