@use "../../styles/colors";
@use "../../styles/tokens";

.result {
  flex: 1;
  max-width: Min(100%, 800px);
  display: flex;
  flex-direction: column;
  gap: tokens.$space-2;
  padding: tokens.$space-1 tokens.$space-4 tokens.$space-4;

  .graphSelect button {
    font-size: 20px;
    padding: 6px;
  }
}

.details {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-2;
}

.stats {
  thead {
    background: tokens.$gradient-brand;
  }

  th {
    color: colors.$white;
  }

  tbody {
    background-color: colors.$gk-orange-extra-light;
  }

  tbody tr {
    border-bottom: 0;
  }

  td {
    font-size: tokens.$text-lg;
    font-weight: 700;
    font-variant-numeric: tabular-nums;
  }

  th,
  td {
    padding: tokens.$space-1 tokens.$space-2;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.toTop {
  display: flex;
  align-items: center;
  gap: 4px;
  color: colors.$blue;
}
