@use "../../../styles/colors";

.targetSkillCards {
  max-width: 420px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}

.slot {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 16%;
}

%boolOp {
  align-self: center;
  z-index: 1;
  border-radius: 4px;
  padding: 4px;
  color: colors.$white;
  font-size: 14px;
  line-height: 14px;
}

.or {
  @extend %boolOp;
  margin: -11px;
  background-color: colors.$green;
}

.not {
  @extend %boolOp;
  margin: -3px;
  background-color: colors.$red;
}

.orGroup {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hasMultiple {
  outline: 2px solid colors.$green;
  border-radius: 6px;
}

%boolButton {
  margin: 4px;
  font-size: 16px;
}

.plus {
  @extend %boolButton;
  color: colors.$green;
}

.minus {
  @extend %boolButton;
  color: colors.$red;
}
