@import "@/constants";

.memoryCalculator {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .skillCards {
    max-width: 390px;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
  }

  .rankSelect {
    align-self: flex-start;
  }
}
