@import "@/constants";

.memoryCalculator {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .skillCards {
    max-width: 390px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 4px;
  }

  .rankSelect {
    align-self: flex-start;
  }
}
