@import "@/constants";

.sub {
  display: flex;
  align-items: center;
  margin-top: 4px;

  &:hover,
  &:focus-within {
    .buttonGroup {
      opacity: 1;
    }
  }

  button {
    font-size: 22px;

    &:disabled {
      color: $gray-light;
      cursor: not-allowed;
    }
  }
}

.cost {
  flex: 1;
}

.buttonGroup {
  display: flex;
  gap: 4px;
  opacity: 0;
  transition: all 0.3s;

  &:hover {
    opacity: 1;
  }

  @media only screen and (max-width: 600px) {
    button {
      font-size: 20px;
      display: none;
    }

    &.expanded button {
      display: flex;
      opacity: 1;
    }
  }
}

.pickButton {
  color: $gk-orange;
}

.addButton {
  color: $green;
}

.moveButton {
  color: $blue;
}

.deleteButton {
  color: $red;
}

.expandButton {
  display: none;
  margin-left: 4px;
  color: $gray;

  @media only screen and (max-width: 600px) {
    display: flex;
  }
}
