@use "sass:color";
@use "../../styles/colors";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.5);
  }
}

.default {
  background-color: colors.$white;
  color: colors.$black;
  border: 1px solid colors.$gray-light;

  &:hover,
  &:focus {
    color: colors.$gk-red-orange;
    box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.5);
  }
}

.primary {
  background-color: colors.$gk-orange;
  color: colors.$white;
  box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.75);

  &:hover,
  &:focus {
    background-color: colors.$white;
    color: colors.$gk-red-orange;
  }
}

.secondary {
  background-color: transparent;
  color: colors.$gk-orange;

  &:hover,
  &:focus {
    background-color: colors.$gk-orange-extra-light;
    color: colors.$gk-red-orange;
  }
}

.red {
  background-color: colors.$red-dark;
  color: colors.$white;

  &:hover,
  &:focus {
    background-color: colors.$red-extra-light;
    color: colors.$red-dark;
  }
}

.red-secondary {
  background-color: transparent;
  color: colors.$red;

  &:hover,
  &:focus {
    background-color: colors.$red-extra-light;
    color: colors.$red-dark;
  }
}

.blue {
  background-color: colors.$blue;
  color: colors.$white;
  box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.75);

  &:hover,
  &:focus {
    background-color: colors.$white;
    color: colors.$blue;
    box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.5);
  }
}

.blue-secondary {
  background-color: transparent;
  color: colors.$blue;

  &:hover,
  &:focus {
    background-color: colors.$blue-extra-light;
    color: colors.$blue-dark;
  }
}

.disabled {
  box-shadow: none !important;
  background-color: colors.$gray-extra-light;
  color: colors.$gray;
  cursor: default;
}

.fill {
  width: 100%;
  flex: 1;
}
