@import "@/constants";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 0 8px transparentize($black, 0.75);
  border-radius: 4px;
  padding: 12px;
  background-color: $white;
  color: $black;
  font-size: 16px;
  transition: all 0.2s;

  &:hover,
  &:focus {
    box-shadow: 0 0 8px transparentize($black, 0.5);
    color: $gk-red-orange;
  }
}

.primary {
  background-color: $gk-orange;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $gk-red-orange;
  }
}

.secondary {
  background-color: $white;
  color: $gk-orange;

  &:hover,
  &:focus {
    background-color: $gk-orange-extra-light;
    color: $gk-red-orange;
  }
}

.red {
  background-color: $red-dark;
  color: $white;

  &:hover,
  &:focus {
    background-color: $red-extra-light;
    color: $red-dark;
  }
}

.red-secondary {
  background-color: $white;
  color: $red;

  &:hover,
  &:focus {
    background-color: $red-extra-light;
    color: $red-dark;
  }
}

.blue {
  background-color: $blue;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $blue;
  }
}

.blue-secondary {
  background-color: $white;
  color: $blue;

  &:hover,
  &:focus {
    background-color: $blue-extra-light;
    color: $blue-dark;
  }
}

.disabled {
  box-shadow: none !important;
  background-color: $gray-extra-light;
  color: $gray;
  cursor: default;
}

.fill {
  width: 100%;
  flex: 1;
}
