@import "@/constants";

.widget {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid darken($gk-red-orange, 15%);

  h2 {
    border-top: 6px solid darken($gk-red-orange, 15%);
    padding: 8px;
    background-color: lighten($gk-orange, 40%);
    color: $gk-orange;
  }

  .content {
    width: 400px;
    max-width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &.fill {
    flex: 1;

    .content {
      width: auto;
    }
  }
}
