@import "@/constants";

.navbar {
  z-index: 1;
  min-height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px transparentize($black, 0.75);
  background-color: $white;
  color: $black-light;

  h1 {
    margin: 0 8px;
    color: $gk-orange;
    font-weight: 400;
    text-transform: uppercase;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.links {
  flex: 1;
  align-self: stretch;
  display: flex;
}

.link {
  min-width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    color: $gk-red-orange;
  }

  &.active {
    color: $gk-orange;
  }
}
