@import "@/constants";

.navbar {
  min-height: 48px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-bottom: 4px solid darken($gk-red-orange, 15%);
  background-color: $gk-orange;
  color: $white;

  h1 {
    margin: 0 8px;
  }

  @media only screen and (max-width: 600px) {
    h1,
    .menu {
      display: none;
    }
  }
}

.links {
  flex: 1;
  align-self: stretch;
  display: flex;
}

.link {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;

  &:hover {
    background-color: lighten($gk-orange, 10%);
  }

  &.active {
    background-color: darken($gk-red-orange, 15%);
  }
}

.menu {
  margin: 0 8px;
}

.avatar {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  overflow: hidden;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 48px;
  border: 2px solid $gk-orange;
  border-top: none;
  padding: 8px;
  background-color: $white;
}
