@import "@/constants";

.entities {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-auto-rows: 68px;
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
  overflow-y: scroll;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 4px;
}

.defaultFilters {
  display: flex;
}

.fill {
  flex: 1;
}

.customFilters {
  display: flex;
  gap: 4px;
}

.toggle {
  gap: 4px;
  border: 2px solid $gray-light;
  border-radius: 22px;
  box-shadow: 0 0 4px $gray-light;
  padding: 8px;
  color: $gray;
  font-weight: 600;
  line-height: 24px;
}

.enabled {
  border-color: darken($gk-red-orange, 10%);
  background-color: lighten($gk-orange, 30%);
  color: darken($gk-red-orange, 10%);
}
