@import "@/constants";

.entities {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  grid-template-rows: repeat(auto-fill, 60px);
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
  overflow-y: scroll;
}

.filter {
  margin: 8px;
}

.selects {
  display: flex;
  gap: 4px;
  padding: 4px;
}
