@import "@/constants";

.memories {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nudge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.header {
  display: flex;
  gap: 6px;
  border-bottom: 2px solid $gray-light;
  padding: 6px;
}

.fill {
  flex: 1;
}

.count {
  align-self: flex-end;
  display: flex;
  align-items: center;
  color: $gk-orange;
}

.search {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.memoryTile {
  display: flex;
  border-bottom: 1px solid $gk-orange;
}

.check {
  display: flex;
  background-color: $red-extra-light;

  input {
    width: 16px;
    margin: 8px;
    accent-color: $red-dark;
    cursor: pointer;
  }
}
