@use "../../styles/colors";

.memories {
  max-width: 560px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;
  container-type: inline-size;
}

.nudge {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 32px;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 6px;
  border-bottom: 2px solid colors.$gray-light;
  padding: 6px;
}

.fill {
  flex: 1;
}

.count {
  align-self: flex-end;
  display: flex;
  align-items: center;
  color: colors.$gk-orange;
}

.search {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.delete {
  display: flex;
  align-items: center;
  gap: 8px;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.memoryTile {
  display: flex;
  border-bottom: 1px solid colors.$gk-orange;
}

.check {
  display: flex;
  background-color: colors.$red-extra-light;

  input {
    width: 16px;
    margin: 8px;
    accent-color: colors.$red-dark;
    cursor: pointer;
  }
}
