@import "@/constants";

.welcome {
  width: 100%;
  padding: 32px;
  display: flex;
  overflow: auto;

  .content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;

    h2 {
      color: $gk-red-orange;
    }

    h3 {
      margin-top: 16px;
      color: $gk-orange;
    }

    li {
      margin-bottom: 8px;
    }

    button {
      display: inline;
    }

    .done {
      text-decoration: line-through;
      margin-right: 8px;
    }
  }
}
