.welcome {
  max-width: 800px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin: auto;
  padding: 32px;

  ul {
    list-style-type: none;
    display: grid;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        min-width: 60px;
      }

      span {
        display: flex;
        justify-content: center;
      }
    }
  }
}
