.welcome {
  height: 100%;
  display: flex;
  padding: 32px;
  overflow: auto;
}

.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: auto;

  ul {
    list-style-type: none;
    display: grid;
    gap: 8px;
  }
}

.feature {
  display: flex;
  align-items: center;
  gap: 16px;

  a {
    min-width: 60px;
  }

  span {
    display: flex;
    justify-content: center;
  }
}
