@use "sass:color";
@use "../../styles/mixins";

.parameters {
  display: flex;
  flex-direction: row;
  gap: 2px;

  input {
    flex: 1;
    min-width: 0;

    @include mixins.param-colors using ($param-color) {
      color: $param-color;

      &::placeholder {
        color: color.scale($param-color, $alpha: -40%);
      }
    }
  }
}
