@use "../../styles/colors";

.picker {
  display: flex;
  gap: 24px;
  min-height: 100px;
  padding: 0 24px;
  border-bottom: 6px solid colors.$gray-light;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;

  button {
    flex: 2;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 -2px 4px colors.$gray-light;
    transition: all 0.2s;

    &:hover {
      flex: 3;
      opacity: 0.8;
    }
  }

  @include param-colors using ($param-color) {
    button {
      background-color: $param-color;
    }
  }
}
