@use "../../styles/mixins";
@use "../../styles/colors";

.entityCustomizer {
  position: relative;
  display: flex;
  gap: 8px;
  margin: 0 12px 12px;
  border: 2px solid colors.$gray-light;
  border-radius: 8px;
  padding: 8px;
}

.label {
  position: absolute;
  top: -14px;
  padding: 0 4px;
  background-color: colors.$white;
  color: colors.$gray;
  font-size: 14px;
}

.icon {
  width: 68px;
}

.c11ns {
  flex: 1;
  min-width: 0;
  display: flex;
  gap: 4px;
  color: colors.$white;
  font-weight: 600;

  @container (width < 460px) {
    flex-direction: column;
  }
}

.c11n {
  flex: 1;
  min-width: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px colors.$gray-light;

  @include mixins.c11n-gradients using ($c11n-gradient) {
    background: $c11n-gradient;
  }

  @container (width < 460px) {
    display: flex;
    align-items: center;
  }
}

.input {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;

  .level {
    width: 20px;
    font-size: 20px;
  }

  & > * {
    flex: 1;
  }

  button {
    padding: 8px 12px;
  }

  @container (width < 460px) {
    font-size: unset;

    .level {
      font-size: unset;
    }
  }
}

.disabled {
  color: transparent;
}

.text {
  display: block;
  font-size: 14px;
  padding: 0 8px 8px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  @container (width < 460px) {
    padding: 4px 8px;
    border-left: 2px solid colors.$white;
  }
}
