@import "@/constants";

.entityCustomizer {
  position: relative;
  display: flex;
  gap: 8px;
  margin: 0 12px 12px;
  border: 2px solid $gray-light;
  border-radius: 8px;
  padding: 8px;
}

.label {
  position: absolute;
  top: -14px;
  padding: 0 4px;
  background-color: $white;
  color: $gray;
  font-size: 14px;
}

.icon {
  width: 68px;
}

.c11ns {
  flex: 1;
  min-width: 0;
  display: flex;
  gap: 4px;
  color: $white;
  font-weight: 600;

  @container (width < 460px) {
    flex-direction: column;
  }
}

.c11n {
  flex: 1;
  min-width: 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px $gray-light;

  @container (width < 460px) {
    display: flex;
    align-items: center;
  }
}

.input {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;

  .level {
    width: 20px;
    font-size: 20px;
  }

  & > * {
    flex: 1;
  }

  button {
    padding: 8px 12px;
  }

  @container (width < 460px) {
    font-size: unset;

    .level {
      font-size: unset;
    }
  }
}

.disabled {
  color: transparent;
}

.text {
  display: block;
  font-size: 14px;
  padding: 0 8px 8px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  @container (width < 460px) {
    padding: 4px 8px;
    border-left: 2px solid $white;
  }
}

.effect {
  background: linear-gradient(135deg, #ca5cfe, #fd6be4);
}

.cost {
  background: linear-gradient(135deg, #02e28f, #94ea03);
}

.buff {
  background: linear-gradient(135deg, #09bfff, #90cdff);
}

.score {
  background: linear-gradient(135deg, #ff3482, #ffa202);
}

.genki {
  background: linear-gradient(135deg, #00b1e2, #06e0d1);
}
