@import "@/constants";

.entityCustomizer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 12px 12px;
  border: 2px solid $gray-light;
  border-radius: 8px;
  padding: 8px;

  .label {
    position: absolute;
    padding: 0 4px;
    background-color: $white;
    color: $gray;
    font-size: 14px;
    top: -14px;
  }
}

.icon {
  width: 68px;
}

.customizations {
  flex: 1;
  font-size: 14px;
  color: $black-dark;
}

.add {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 18px;
  background-color: $custom-green;
  color: $white;
  font-size: 24px;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 8px transparentize($custom-green, 0.5);
  }
}
