@use "sass:color";
@use "../../styles/colors";
@use "../../styles/mixins";

.oshi {
  font-size: 24px;
  font-weight: bold;
  color: colors.$blue;
  text-decoration: underline;
  text-align: center;
}

.loadoutEditor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.configurator {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  overflow: auto;
}

.loadoutTabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loadoutTab {
  display: flex;
  gap: 4px;

  @include mixins.link-colors using ($link-color) {
    .selectButton {
      background-color: color.scale($link-color, $lightness: 20%);

      &:hover {
        background-color: color.scale($link-color, $lightness: 60%);
      }
    }
  }
}

.selectButton {
  padding: 8px;
  border-radius: 4px;
  color: colors.$white;
}

.loadoutSummary {
  flex: 1;
  padding: 0 4px;
}

.note a {
  color: colors.$blue-dark;
  text-decoration: underline;
}

.supportBonusInput {
  display: flex;

  input {
    width: 80px;
  }
}

.expanderButtons {
  display: flex;
  margin-bottom: 4px;

  button {
    margin: 0 auto;
    color: colors.$blue;
    font-size: 16px;
    text-align: center;
  }

  .disabled {
    color: colors.$gray;
    cursor: default;
  }
}

.strategySelect {
  border: 2px solid colors.$gray-light;
  border-radius: 4px;
  padding: 4px;
  display: none;
}

.subLinks {
  display: flex;
  justify-content: space-between;
  color: colors.$blue;
  font-size: 12px;
}

.url {
  font-size: 10px;
  word-break: break-all;
}

.buttons {
  display: flex;
  align-items: stretch;
  gap: 8px;

  button,
  a {
    min-width: 60px;
    padding: 8px;
  }
}

.loader {
  flex: 0;
}

.ad {
  margin-bottom: 16px;
}
