@use "../../styles/colors";

.pIdol {
  position: relative;
  width: 81px;
  height: 108px;
  background-color: colors.$gray-extra-light;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  background: linear-gradient(rgba(0, 0, 0, 0) 0 65%, rgba(0, 0, 0, 0.75));
  color: colors.$white;
  font-size: 10px;
  font-weight: 600;
  text-wrap: balance;
  text-align: left;
}

.attributes {
  display: flex;

  img {
    object-fit: contain;
    object-position: left;
  }
}
