@use "sass:color";
@use "../../styles/colors";

.oshi {
  z-index: 1;

  & > button,
  & > a {
    display: flex;
    justify-content: center;
    border-radius: 0 0 16px 16px;
    background: colors.$pxw-mao;
    padding: 4px 8px;
    color: colors.$white;
    text-align: center;
    box-shadow: 0 0 4px color.adjust(colors.$black, $alpha: -0.75);
    transition: background-color 0.2s;

    &:hover {
      background-color: color.adjust(colors.$pxw-mao, $lightness: -10%);
    }
  }
}

.expand {
  width: 100%;
  min-height: 18px;
}

.close {
  position: absolute;
  width: 32px;
  height: 24px;
  margin-bottom: -24px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-bottom: 5px;
  background-color: colors.$black-dark;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.handle {
  border-style: solid;
  border-color: colors.$white;
  border-width: 3px 0;
  background-color: colors.$gk-orange;
}

.badge {
  display: inline-block;
  background-color: #ff3333;
  border-radius: 5px;
  width: 10px;
  height: 10px;
}
