@import "@/constants";

.toolHeader {
  position: absolute;
  margin: 12px;
  color: $black;
  transition: color 0.2s;

  &:hover {
    color: $gk-orange;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
