@import "@/constants";

.skillCard {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: $gray-extra-light;
  border: 4px solid $gray-light;
  border-radius: 8px;
  overflow: hidden;
  cursor: grab;
}
