@import "@/constants";

.parameters {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  overflow: hidden;

  input {
    @include param-colors using ($param-color) {
      border-color: $param-color;
      background-color: scale-color($param-color, $lightness: 80%);
      color: $param-color;
      &::placeholder {
        color: scale-color($param-color, $alpha: -40%);
      }
    }
  }
}
