@import "@/constants";

.c11ns {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  margin-bottom: 16px;
  color: $white;
  font-weight: 600;
}

.c11n {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border: 4px solid $white;
  border-radius: 8px;
  box-shadow: 0 2px 4px $gray-light;
  text-align: center;
}

.level {
  font-size: 24px;
  margin-bottom: 16px;
}

.effect {
  background: linear-gradient(135deg, #ca5cfe, #fd6be4);
}

.cost {
  background: linear-gradient(135deg, #02e28f, #94ea03);
}

.buff {
  background: linear-gradient(135deg, #09bfff, #90cdff);
}

.score {
  background: linear-gradient(135deg, #ff3482, #ffa202);
}

.genki {
  background: linear-gradient(135deg, #00b1e2, #06e0d1);
}
