@import "@/constants";

.c11ns {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  margin-bottom: 16px;
  color: $black;
  font-weight: 600;
}

.c11n {
  width: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border: 2px solid $gray-extra-light;
  border-radius: 8px;
}

.level {
  font-size: 24px;
  margin-bottom: 16px;
}

.effect {
  background-color: purple;
}

.cost {
  background-color: $stamina;
}

.buff {
  background-color: blue;
}

.score {
  background-color: red;
}

.genki {
  background-color: teal;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  button {
    justify-content: space-between;
    padding: 8px;
    color: $gray-dark;
    font-weight: 600;
    transition: 0.2s background-color;

    &:hover:not(:focus) {
      background-color: lighten($gk-orange, 30%);
    }

    &.selected {
      color: $gk-orange;
    }
  }
}
