@use "../../styles/colors";

.toolHeader {
  color: rgba(255, 255, 255, 0.85);
  transition: color 0.15s;

  &:hover {
    color: colors.$white;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
