@use "../../styles/colors";

.toolHeader {
  color: colors.$black;
  transition: color 0.2s;

  &:hover {
    color: colors.$gk-orange;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
