@import "@/constants";

.buttonGroup {
  display: flex;
  flex-direction: row;
  border: 2px solid $gk-orange;
  border-radius: 4px;

  button {
    flex: 1;
    padding: 8px;
    color: $gk-orange;
    font-weight: 600;
    transition: all 0.2s;

    &.selected {
      background-color: $gk-orange;
      color: $white;

      &:hover {
        color: $gk-red-orange;
      }
    }

    &:hover {
      background-color: lighten($gk-orange, 40%);
    }
  }
}
