@import "@/constants";

.buttonGroup {
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 8px transparentize($black, 0.75);
  border-radius: 4px;
  overflow: hidden;

  button {
    flex: 1;
    padding: 8px;
    color: $gk-orange;
    font-size: 14px;
    line-height: 16px;
    transition: all 0.2s;

    &.selected {
      background-color: $gk-orange;
      color: $white;
    }

    &:hover {
      background-color: $gk-orange-extra-light;
      color: $gk-red-orange;
    }
  }
}
