@import "@/constants";

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  background-color: $gk-orange;
  color: $white;

  a {
    text-decoration: underline;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
