@import "@/constants";

.result {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 8px;

  .cards {
    display: flex;
    align-items: center;
    gap: 4px;
    border: 4px solid $gray-light;
    border-radius: 8px;
    padding: 2px;
    background-color: $gray-extra-light;
  }
}
