@use "../../styles/colors";

.memoryCalculator {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rankSelect {
  align-self: flex-start;
}

.resultsToggle {
  justify-content: flex-start;
  gap: 8px;
  color: colors.$gk-orange;
  font-size: 16px;
}

.result {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card {
  position: relative;
  width: 16%;
  max-width: 64px;
  aspect-ratio: 1;
}
