@use "../../styles/colors";

.memoryCalculator {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  gap: 8px;
  align-self: flex-start;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 2px solid colors.$gray-light;
  border-radius: 8px;
  padding: 8px 12px 12px;

  & > label:first-child {
    margin-top: 0;
  }
}

.rankSelect {
  align-self: flex-start;
}

.result {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card {
  position: relative;
  width: 16%;
  max-width: 64px;
  aspect-ratio: 1;
}
