@use "../../styles/colors";

.files {
  display: flex;
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
  background-color: colors.$gk-orange-extra-light;

  &:disabled {
    opacity: 0.6;
    cursor: progress;
  }
}

.progress {
  margin-top: 4px;
  display: flex;
  gap: 4px;
  align-items: center;
  min-height: calc(1em + 8px);
  color: colors.$gk-orange;

  &.error {
    color: colors.$red;
  }
}

.help {
  display: flex;
  gap: 16px;
  overflow: auto;
}
