@use "../../styles/tokens";

.layout {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: tokens.$space-2;
  gap: tokens.$space-2;
}

.wide {
  max-width: 960px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: tokens.$space-2;
}

.tabs {
  position: sticky;
  top: 0;
  z-index: 5;
  padding: tokens.$space-1;
  background-color: tokens.$surface-bg;
}
