@import "@/constants";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparentize($black, 0.5);
}

.modal {
  position: relative;
  width: 600px;
  max-width: 100vw;
  max-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px transparentize($black, 0.5);
  border-radius: 8px;
  padding: 48px 32px 32px;
  background-color: $white;

  @media only screen and (max-width: 600px) {
    padding: 48px 16px 16px;
  }

  h3 {
    margin-bottom: 24px;
    color: $gk-orange;
  }

  p {
    margin-bottom: 16px;
  }
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: $black;
  transition: all 0.2s;

  &:hover {
    color: $gk-orange;
  }
}
