@import "@/constants";

.pinnedTools {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  width: 350px;
  border-right: 2px solid darken($gk-red-orange, 15%);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: $gk-orange;
  color: $white;
}

.tool {
  flex: 1;
  overflow: auto;
}
