@import "@/constants";

.entityIcon {
  aspect-ratio: 1;
  position: relative;
  border: 4px solid $gray-light;
  border-radius: 8px;
  background-color: $gray-extra-light;
  overflow: hidden;
  transition: 0.2s box-shadow;

  &:hover {
    outline: 2px solid $gk-orange;
  }

  &.fill {
    width: 100%;
  }

  &.large {
    width: 16%;
  }

  &.medium {
    width: 13%;
  }

  &.small {
    width: 10%;
  }
}
