@use "../../styles/mixins";
@use "sass:color";
@use "../../styles/colors";

.entityIcon {
  aspect-ratio: 1;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 0 2px colors.$gray-light;
  border-radius: 8%;
  background-color: colors.$gray-extra-light;

  img {
    border-radius: 8%;
  }
}

button.entityIcon:hover {
  outline: 3px solid colors.$gk-orange;
}

.fill {
  width: 100%;
}

.large {
  width: 16%;
}

.medium {
  width: 13%;
}

.small {
  width: 10%;
}

.badge {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.customizations {
  position: absolute;
  top: 60%;
  display: flex;
  gap: 2px;
}

.customization {
  color: colors.$white;
  font-weight: 600;
  font-size: 14px;

  @include mixins.c11n-colors using ($c11n-color) {
    background-color: $c11n-color;
    border: 1px solid color.adjust($c11n-color, $lightness: 20%);
    box-shadow: 0 0 6px $c11n-color;
  }

  @container (width < 600px) {
    width: 16px;
    height: 16px;
    font-size: 12px;
  }
}

.tier {
  position: absolute;
  top: -4px;
  left: -4px;
  display: none;
  border: 1px solid;
  font-size: 12px;
}

button.entityIcon:hover .tier {
  display: flex;
}

.low {
  border-color: colors.$black;
  color: colors.$black-dark;

  &.R {
    background-color: colors.$silver;
  }

  &.SR {
    background-color: colors.$gold;
  }
}

.high {
  background-color: colors.$white;

  &.R {
    color: colors.$silver-dark;
    border-color: colors.$silver-dark;
  }

  &.SR {
    color: colors.$gold-dark;
    border-color: colors.$gold-dark;
  }
}

.indication {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 1px solid colors.$red-light;
  background-color: colors.$red;
  color: colors.$white;
  font-size: 12px;
  transition: all 0.2s;

  &:hover {
    background-color: colors.$red-light;
  }
}

.duplicate {
  filter: brightness(0.6);
}
