@use "sass:color";
@use "../../components/ButtonGroup/ButtonGroup.module";

.parametersMultiSelect {
  @extend .buttonGroup;

  border: none;
  border-radius: 4px;

  button {
    @include param-colors using ($param-color) {
      border-color: $param-color;
      background-color: color.scale($param-color, $lightness: 80%);
      color: $param-color;

      &.selected {
        background-color: $param-color;
        color: $white;
      }
    }
  }
}
