@import "@/constants";

.dex {
  width: 400px;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .details {
    height: 180px;
  }

  .result {
    border-top: 2px solid $gray-light;
    border-bottom: 2px solid $gray-light;
    flex: 1;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, 60px);
    grid-template-rows: repeat(auto-fill, 60px);
    gap: 8px;
    justify-content: space-around;
    padding: 8px;
  }

  .filter {
    margin: 8px;
  }

  .tabs {
    padding: 4px;
  }
}
