@use "../../styles/colors";

.stageCustomizer {
  max-height: 800px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.effects {
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    color: colors.$blue;
    font-size: 14px;
  }
}

.apply {
  margin-top: 16px;
}
