@use "../../styles/colors";

button.stageSelect {
  display: block;
  padding: 8px;
  color: colors.$gray-dark;
  font-weight: 600;
}

.typeSelect {
  margin-bottom: 16px;
}

.stageList {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.customizer {
  overflow-y: auto;
}

.option {
  display: block;
  padding: 8px;
  color: colors.$gray-dark;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    background-color: colors.$gk-orange-extra-light;
    color: colors.$gk-red-orange;
  }
}

.namePlan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

.status {
  min-height: 3px;
  display: flex;
  gap: 1.5px;
  margin-top: 2px;

  div:nth-child(1) {
    background-color: #f23584;
  }
  div:nth-child(2) {
    background-color: #1c85ed;
  }
  div:nth-child(3) {
    background-color: #f7b12e;
  }
}

.placeholder {
  flex: 1;
}
