@import "@/constants";

.loadoutEditor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.configurator {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  overflow: auto;
}

.supportBonusInput {
  display: flex;
  align-items: center;

  input {
    width: 80px;
  }
}

.typeMultipliers {
  display: flex;
  font-size: 14px;

  & > div {
    flex: 1;
    text-align: center;
  }

  div:nth-child(1) {
    color: #f23584;
  }
  div:nth-child(2) {
    color: #1c85ed;
  }
  div:nth-child(3) {
    color: #f7b12e;
  }
}

.expanderButtons {
  display: flex;

  button {
    margin: 0 auto;
    color: $blue;
    font-size: 16px;
    text-align: center;
  }

  .disabled {
    color: $gray;
    cursor: default;
  }
}

.strategySelect {
  border: 2px solid $gray-light;
  border-radius: 4px;
  padding: 4px;
  display: none;
}

.subLinks {
  color: $blue;
  font-size: 12px;
}

.buttons {
  display: flex;
  align-items: stretch;
  gap: 8px;
  margin-top: 4px;

  button,
  a {
    padding: 8px;
  }
}

.loader {
  flex: 0;
}
