@import "@/constants";

.loadoutEditor {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .configurator {
    position: sticky;
    top: 0;
    max-width: 100vw;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    overflow: auto;

    .params {
      max-width: 500px;
    }

    .typeMultipliers {
      display: flex;
      font-size: 14px;

      & > div {
        flex: 1;
        text-align: center;
      }

      div:nth-child(1) {
        color: #f23584;
      }
      div:nth-child(2) {
        color: #1c85ed;
      }
      div:nth-child(3) {
        color: #f7b12e;
      }
    }

    .expanderButtons {
      display: flex;
      font-size: 14px;

      button,
      a {
        margin: 0 auto;
        color: $blue;
        text-align: center;
      }
    }

    .plannerLink {
      margin: 8px auto;
      color: $blue;
    }

    .strategySelect {
      border: 2px solid $gray-light;
      border-radius: 4px;
      padding: 4px;
    }

    .simulateButton {
      display: flex;
      align-items: stretch;
      gap: 8px;
      margin: 8px 0;

      button {
        min-width: 60px;
      }
    }

    .loader {
      flex: 0;
    }
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;

    .configurator {
      position: relative;
      align-self: center;
    }
  }
}
