@use "sass:color";
@use "../../styles/colors";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: color.adjust(colors.$black, $alpha: -0.5);
}

.modal {
  position: relative;
  width: 600px;
  max-width: 100vw;
  max-height: calc(100dvh - 16px);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 16px color.adjust(colors.$black, $alpha: -0.5);
  border-radius: 8px;
  padding: 48px 32px 32px;
  background-color: colors.$white;
  container-type: inline-size;

  @media only screen and (max-width: 600px) {
    padding: 48px 16px 16px;
  }

  h3 {
    margin-bottom: 24px;
    color: colors.$gk-orange;
  }

  p {
    margin-bottom: 16px;
  }
}

.close {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  color: colors.$black;
  transition: all 0.2s;

  &:hover {
    color: colors.$gk-orange;
  }
}
