.error {
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  h2 {
    padding: 16px 0;
    text-align: center;
  }

  .wrapper {
    position: relative;
    flex: 1;

    img {
      object-fit: contain;
    }
  }
}
