@import "@/constants";

.stageSelect {
  color: $gray-dark;
  font-weight: 600;
}

.typeSelect {
  margin-bottom: 16px;
}

.stageList {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.customizer {
  overflow-y: auto;
}

.option {
  flex-wrap: wrap;
  gap: 6px;
  padding: 12px;
  color: $gray-dark;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    background-color: $gk-orange-extra-light;
    color: $gk-red-orange;
  }
}

.status {
  flex: 1;
  align-self: stretch;
  display: flex;
  gap: 1.5px;
  border-radius: 2px;
  background-color: $white;
  overflow: hidden;

  div:nth-child(1) {
    background-color: #f23584;
  }
  div:nth-child(2) {
    background-color: #1c85ed;
  }
  div:nth-child(3) {
    background-color: #f7b12e;
  }
}

.placeholder {
  flex: 1;
}
