@import "@/constants";

.entityDetails {
  position: relative;
  height: 100%;

  img {
    object-fit: contain;
  }

  .placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $gray-light;
    font-size: 60px;
  }
}
