@import "@/constants";

.entityDetails {
  position: relative;
  height: 180px;

  img {
    object-fit: contain;
  }
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $gray-light;
  font-size: 60px;
}
