@import "@/constants";

.nia section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 12px 0;
  border: 2px solid $gray-light;
  border-radius: 8px;
  padding: 12px 16px 16px;
}

.note a {
  color: $blue;
}
