@import "@/constants";

.params {
  display: flex;
  flex-direction: row;

  .param {
    flex: 1;
    padding: 6px;
    font-weight: 600;
    text-align: center;

    @include param-colors using ($param-color) {
      color: $param-color;
    }
  }
}
