@import "@/constants";

.produceRankCalculator {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding: 16px;
  color: $black;
}

.bonus {
  font-size: 0.8em;
}

.result {
  thead {
    background-color: lighten($gk-orange, 20%);
  }

  tbody {
    background-color: lighten($gk-orange, 40%);
  }

  th,
  td {
    padding: 8px;
  }
}
