@import "@/constants";

.produceRankCalculator {
  max-width: 400px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: $black;

  .bonus {
    font-size: 0.8em;
  }

  .result {
    thead {
      background-color: $gk-orange;
    }

    tbody {
      background-color: lighten($gk-orange, 40%);
    }

    th,
    td {
      padding: 8px;
    }
  }
}
