@use "../../styles/colors";

.history {
  max-height: 240px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  overflow: auto;

  .summary {
    flex-direction: column;
    align-items: stretch;
  }
}

.itemsAndStage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stage {
  margin-left: 8px;
}

.cards {
  display: flex;
  gap: 0 8px;
  flex-wrap: wrap;
}
